div.accordion {
 padding-top: 30px;
 width: 80%;
  overflow: hidden;
justify-content: center;
 padding-left: 20%;
}

.accordion-item {
 padding-bottom:20px;
justify-content: center;
}

.accordion-header {
  background: #FF6060;
 border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.accordion-content {
  padding: 10px;
  background: #F6F6F673;
border: none;
}

.arrow {

  margin-left: auto;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
    height:52px ;
 
}
img.arrow.down{
  width:24px ;
  height: 13px;
  border-radius: 5px;
}
   img.arrow.up{
 width:24px ;
 height: 13px;
   object-fit: cover;
    }

    @media only screen and (max-width: 480px) {
      div.accordion{
padding: 0;
width: 100%;
padding-top: 10px;
      }

    }


