.carousel {
  width: 100%;
}
.classImage {
  width: 100%;
  height: 415px;
  cursor: pointer;
  object-fit: cover;
}

.classChevronGauche {
  position: relative;
  bottom: 250px;
  left: 25px;
  color: white;
  cursor: pointer;
}

.classChevronDroit {
  position: relative;
  bottom: 260px;
  left: 88%;
  cursor: pointer;
}

.compteurImages {
  position: absolute;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  left: 45%;
  width: 40px;
}

@media only screen and (max-width: 2500px) {
  .compteurImages {
    position: relative;
    bottom: 190px;
  }
}
@media only screen and (max-width: 1024px){
  img.classChevronDroit {
    position: relative;
left: 80%;


  }


}
@media only screen and (max-width: 768px) {
  img.classChevronDroit {
    position: relative;
left: 80%;


  }
}
@media only screen and (max-width: 600px) {
  img.classChevronDroit {
    position: relative;
left: 76%;


  }
}
@media only screen and (max-width: 425px) {
  .classImage {
    width: 100%;
    height: 250px;
  }
  .classChevronGauche {
    position: relative;
    left: 5%;
    bottom: 150px;
    height: 19px;
    width: 16px;
  }

  img.classChevronDroit {
    position: relative;
    bottom: 150px;
    height: 19px;
    width: 16px;
  left: 85%;
  }

  .compteurImages {
    position: relative;
    bottom: 90px;
    color: white;
    font-size: 16px;
  }
}
