
.logement-collapse {
    .toggle-btn {
      cursor: pointer;
    }
  
    .content {
      display: none;
      &.open {
        display: block;
      }
      &.close {
        display: none;
      }
    }
  }