
.collapse-block {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
 background: #FF6060;
  ;
}

#title {

  margin-right: 10px;
  font-size: 1.2rem;
  color: #333; /* Couleur du titre */
}

.vector {
  width: 20px; /* Taille de l'icône */
}

.texte {
  padding: 10px;
  background-color: #f5f5f5; /* Couleur de fond du contenu */
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s ease; /* Animation de transition */
}

.active {
  display: block; /* Afficher le contenu */
}

ul {
  list-style-type: none; /* Supprimer les puces */
}

li {
  margin-bottom: 5px;
}

