.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
 flex-direction: column;
  height: 209px;
  gap: 40px;
  p{
    color: white;   
    }
  img {
    width: 122px;
    height: 40px;
    
     
  }
}
@media only screen and (max-width: 480px){
  .footer{
    display: flex;
    gap: 15px;
    p{
     
      height: 46px;
      width: 133px;
      text-align: center;
    }
  }
}