.home {
  padding-left: 80px;
  padding-right: 80px;

  .banner {
    position: relative;
    background-color: black;
    height: 223px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    img {
      width: 100%;
      height: 223px;
      object-fit: cover;
      border-radius: 25px;
      opacity: 25%;
    }
    h1 {
      position: absolute;

      color: white;
      height: 68px;
      top: 35%;
      align-items: center;
      font-size: 48px;
    }
  }

  h1 br {
    display: none;
  }
}
.galerie {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 25px;
  gap: 40px;
  padding-top: 50px;
  background: #f6f6f6;
  margin-top: 30px;
  border-radius: 25px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .home .galerie {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .home .banner {
    height: 150px;
  }

  .home .banner img {
    height: 150px;
  }
  h1 br {
    display: inline;
  }
  h1 {
    font-weight: 700;

    width: 225px;
    height: 48px;
    top: 30%;
    left: 10%;
    font-size: 24px;
  }

  .home .galerie {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    grid-template-columns: 1fr;
  }

  .home {
    padding-left: 10px;
    padding-right: 10px;
    img {
      padding-right: 0;
    }
  }
}
