// Style pour la classe .host
.host {
  display: flex;
align-items: center;
gap: 10px;
  p.fullname {
    padding: 0;
    color: #ff6060;
    
  }
  .host__name {
    width: 60px;
   
  }

  .host__picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }
}
figure.host {
  position: relative;
  left: 83%;
  width: 150px;
  bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 900px){
  figure.host {
    position: relative;
   bottom: 50px;
    left: 80%;

  }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
  figure.host {
    position: relative;
   bottom: 50px;
    left: 70%;

  }
}


@media only screen and (min-width: 480px) and (max-width: 600px) {
  figure.host {
    position: relative;
    justify-content: center;
    text-align: center;
    bottom: 50px;
    left: 65%;

  }

  .host .fullname {
    margin-left: 10px;
    flex-direction: row;
    align-items: center;
  }

  .host .host__name {
    width: auto;
    margin-right: 10px;
  }

  .host .host__picture {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
 
  figure.host {
    position: relative;
    text-align: center;
  
    top: 32px;
    left: 63%;
    height: 33px;
    width: 100px;
    gap: 0;
    .host__picture {
      position: relative;
      height: 33px;
      width: 33px;
      bottom: 17px;
    }

    .fullname {
      position: relative;
      bottom: 14px;
      height: 33px;
      width: 50px;
      font-size: 12px;
    }
  }

}
