// Style pour la classe .host
.host {
    display: flex;
    justify-content: flex-end;
  position: relative;
  bottom: 110px;
    // Style pour la sous-classe .host__name
    &__name {
      font-size: 12px;
      font-weight: 500;
      margin-right: 10px;
  
      // Style spécifique pour la taille d'écran medium
      @media only screen and (min-width: 601px) and (max-width: 900px) {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      // Style spécifique pour la taille d'écran large
      @media only screen and (min-width: 901px) {
        font-size: 18px;
      }
    }
  
    // Style pour les éléments <p> à l'intérieur de .host__name
    &__name p {
      margin: 0;
      text-align: end;
    }
  
    // Style pour la sous-classe .host__picture
    &__picture {
      border-radius: 50%;
      height: 32px;
      width: 32px;
  
      // Style spécifique pour la taille d'écran medium
      @media only screen and (min-width: 601px) and (max-width: 900px) {
        height: 48px;
        width: 48px;
      }
  
      // Style spécifique pour la taille d'écran large
      @media only screen and (min-width: 901px) {
        height: 64px;
        width: 64px;
      }
    }
  }
  