// Style pour la classe .host
.host {
    display: flex;
    justify-content: flex-end;
  position: relative;
  bottom: 110px;

  
  p.fullname{
    padding: 0;
color:#ff6060 ;
flex-direction: column;

 
  }
.host__name{

  width:70px;

}
  
   &__picture {
   
      border-radius: 50%;
      height: 64px;
      width: 64px;

      
    }
  }
 