.logement {
  padding-left: 80px;
  padding-right: 80px;
 
  .allDescription {
    h2.title {
      color: #ff6060;
      padding-top: 20px;
      font-size: 36px;

      height: 51px;
    }

    p {
      color: black;
      font-size: 18px;
      font-weight: 500;
     margin-top: 15px;
      padding-bottom: 40px;
      padding-top: 10px;
    }
  }

  .pictures {
    border-radius: 25px;

    img {
      position: relative;
      height: 415px;
      width: 100%;
      border-radius: 25px;
      object-fit: cover;
      font-size: 3rem;
    }
  }
}
@media only screen and (max-width: 768px) {
  .logement {
    padding-left: 20px; /* Réduire le padding à gauche pour les appareils plus petits */
    padding-right: 20px; /* Réduire le padding à droite pour les appareils plus petits */
  }

  .logement .allDescription h2.title {
    font-size: 24px; /* Réduire la taille du titre pour les appareils plus petits */
  }

  .logement .allDescription p {
    font-size: 16px; /* Réduire la taille du texte pour les appareils plus petits */
  }

  .logement .pictures img {
    height: 200px; /* Réduire la hauteur des images pour les tablettes et les appareils portables */
  }
}