.nav ul li a {
  color: black;
  
  width: 100%;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.header img {
  width: 200px;
  object-fit: cover;
}

.header nav ul {
  display: flex;
  gap: 57px;
  list-style-type: none;
}

.header nav ul li a.active {
  color: red;
}

.header nav ul li a.active,
.header nav ul li a:focus {
  color: red;
  border-bottom: 2px solid red;
}
li a{
  text-decoration: none; 
  color: black;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  header.header {
    padding-left: 10px;
    padding-right: 10px;

    img {
      height: 46px;
      width: 143px;
    }
    nav ul {
      display: flex;
      gap: 10px;
      height: 17px;
      padding-left: 10px;
      align-items: center;
    }
  }

  nav ul li a {
    font-size: 16px;
    text-align: center;
  }
}
