nav ul li a {
    color: blue;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    & img {
        width: 200px;
        object-fit: cover;
    }

    & nav ul {
        display: flex;
        gap: 20px;

        & li a.active {
            color: red;
        }
    }


}