nav ul li a {
  color: blue;
  font-size: 24px;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
width: 1260px;
  & img {
    width: 200px;
    object-fit: cover;
  }

  & nav ul {
    display: flex;
    gap: 57px;
    list-style-type: none;

    & li a.active {
      color: red;
    }
  }
}
