.rating{
    position: relative;
    left:85%;
    height: 36px;
    bottom: 110px;
    padding-top: 20px;
    
}

@media only screen and (max-width: 768px) {
    .rating {
        left: auto; /* Réinitialiser la position horizontale */
        width: 100%; /* Occuper toute la largeur */
        text-align: center; /* Centrer le contenu horizontalement */
        bottom: auto; /* Réinitialiser la position verticale */
        padding-top: 10px; /* Réduire l'espace en haut */
    }
}
