.thumb {
  position: relative;
  
  width: 100%;
  height: 340px;
  cursor: pointer;
  border-radius: 10px;

  img {
    width: 90%;
    height: 80%;
    object-fit: cover;
  }
}
h3 {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  bottom: 23%;

  height: 52px;
  color: white;
  left: 10px;
}
